.loading {
    background: linear-gradient(
            -90deg,
            #bdc3c7,
            #2c3e50,
            #2C5E1A,
            #32CD30,
            #141e30,
            #B2D2A4
    );
    background-size: 400% 400%;
    animation: backgroundChange 15s ease infinite;
    border-radius: 10px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes backgroundChange {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}