<head>
    <link rel="stylesheet" href="~/css/playlist.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/play-button.css" asp-append-version="true"/>
</head>
<div class="content">
    <div class="playlist-header">
        <div class="playlist-img loading">
            <svg width="200" height="200" class="empty" alt="">
                <svg style="fill: white; background-color: white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M 15 7 C 7.832031 7 2 12.832031 2 20 C 2 34.761719 18.695313 42.046875 24.375 46.78125 L 25 47.3125 L 25.625 46.78125 C 31.304688 42.046875 48 34.761719 48 20 C 48 12.832031 42.167969 7 35 7 C 30.945313 7 27.382813 8.925781 25 11.84375 C 22.617188 8.925781 19.054688 7 15 7 Z M 15 9 C 18.835938 9 22.1875 10.96875 24.15625 13.9375 L 25 15.1875 L 25.84375 13.9375 C 27.8125 10.96875 31.164063 9 35 9 C 41.085938 9 46 13.914063 46 20 C 46 32.898438 31.59375 39.574219 25 44.78125 C 18.40625 39.574219 4 32.898438 4 20 C 4 13.914063 8.914063 9 15 9 Z"></path></svg>
            </svg>
        </div>
        <div class="playlist-info loading">
            <div class="playlist-type">Liked songs</div>
            <div class="playlist-name">Your favourite</div>
            <div class="playlist-data">
                <a href="#" class="playlist-creator">USERNICKNAME</a>
                <span id="tracks-amount">
                    &bull; infinite tracks
                </span>
            </div>
        </div>
    </div>
    <div class="playlist-body">
        <div class="playlist-interaction">
            <div class="play-button"></div>
        </div>
        <div class="songs mt-4">
            <div class="songs-headlines ms-4 me-4">
                <div class="headline-number">
                    #
                </div>
                <div class="headline-name">
                    NAME
                </div>
                <div class="headline-album">
                    ALBUM
                </div>
                <div class="headline-time">
                    <svg width="16" height="16" viewBox="0 0 16 16" class="bi bi-clock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
                        <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                </div>
            </div>
            <div class="ms-4 me-4">
                <hr/>
            </div>
            <div class="song-cards ms-4  me-4" id="songs">
            </div>
        </div>  
    </div>
</div>
<script src="~/js/play-button.js"></script>
<script src="~/js/getUserProfile.js"></script>
<script src="~/js/homepage/showLikedSongs.js"></script>