<head>
    <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/play-button.css" asp-append-version="true"/>
</head>
<div id="content">
    <div class="playlists-header loading">
        <p style="width: 500px">Your playlists</p>
    </div>
    <div class="playlists">
    </div>
</div>
<script type="module" src="~/js/homepage/showUserLibrary.js"></script>