button.back {
    position: absolute;
    left: 255px;
    padding: 15px;
    width: 100px;
    margin: 15px 15px;
    background-color: #e0e0e0;
    border: none;
}

button.back:hover {
    background-color: #bdbdbd;
}