.drop {
    margin-left: 270px;
    margin-top: 10px;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    width: 500px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    color: #bdbdbd;
}

.drop:hover {
    border-color: gray;
}

div.files {
    margin-left: 271px;
    margin-top: 5px;
    text-decoration: none;
}

.cover{
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 270px;
    width: 150px;
    height: 100%;
    font-weight: lighter;
}

