@model string

@{
    Layout = "_AccountLayoutWithoutSidebar";
}


<div class="container">
    <div class="row mt-5">
        <h1><b>About Us</b></h1>
        <div class="col-7">
            With Spotify, it’s easy to find the right music or podcast for every moment – on your phone, your computer, your tablet and more.
            <br/>
            <br/>
            There are millions of tracks and episodes on Spotify. So whether you’re behind the wheel, working out, partying or relaxing, the right music or podcast is always at your fingertips. Choose what you want to listen to, or let Spotify surprise you.
            <br/>
            <br/>
            You can also browse through the collections of friends, artists, and celebrities, or create a radio station and just sit back.
            <br/>
            <br/>
            Soundtrack your life with Spotify. Subscribe or listen for free.
            <br/>
            <br/>
            <h2><b>Customer Service and Support</b></h2>
            <ol type="1">
                <li>
                    <a href="#" class="about-link">Help site</a>.
                    Check out our help site for answers to your questions and to learn how to get the most out of Spotify and your music.
                </li>
                <li>
                    <a href="https://community.spotify.com/" class="about-link">Community</a>.
                    Get fast support from expert Spotify users. If there isn’t already an answer there to your question, post it and someone will quickly answer. You can also suggest and vote on new ideas for Spotify or simply discuss music with other fans.
                </li>
                <li>
                    <a href="#" class="about-link">Contact us</a>.
                    Contact our Customer Support if you don’t find a solution on our support site or Community.
                </li>
                <li>
                    <a href="https://twitter.com/SpotifyCares" class="about-link">SpotifyCares</a>.
                    Feeling sociable? Simply tweet the team and they’ll do all they can to help.
                </li>
            </ol>
            <h2><b>Or pick a topic:</b></h2>
            <ul>
                <li>
                    Advertising on Spotify?
                    <a href="https://ads.spotify.com/" class="about-link">Advertisers section</a>
                </li>
                <li>
                    Press query?  
                    <a href="https://newsroom.spotify.com/press-inquiries" class="about-link">Press section</a>
                </li>
                <li>
                    Applying for a job?           
                    <a href="https://www.lifeatspotify.com/" class="about-link">Jobs section</a>
                </li>
            </ul>   
        </div>
        <div class="col-5">
            <h2><b>Spotify HQ</b></h2>
            Spotify USA Inc
            <br/>
            4 World Trade Center
            <br/>
            150 Greenwich Street, 62nd Floor
            <br/>
            New York, NY 10007
            <br/>
            USA
            <br/>
            office@spotify.com
            <div class="row mt-5">
                <h2><b>Spotify around the world</b></h2>
                <div class="col-6">
                    <b>Spotify Belgium</b>
                    <br/>
                    Square de Meeus 37
                    <br/>
                    4th floor
                    <br/>
                    1000 Brussels
                    <br/>
                    Belgium
                    <br/>
                    office@spotify.com
                    <br/>
                    <br/>
                    <b>Spotify Canada Inc.</b> 
                    <br/>
                    220 Adelaide Street West
                    <br/>
                    M5H 1W7 Toronto Ontario
                    <br/>
                    Canada
                    <br/>
                    office@spotify.com
                    <br/>
                    <br/>
                    <b>SPOTIFY SPAIN SL</b> 
                    <br/>
                    Paseo de Recoletos, 7-9
                    <br/>
                    28004 Madrid
                    <br/>
                    Spain
                    <br/>
                    office@spotify.com
                    <br/>
                    <br/>
                    <b>Spotify France SAS</b>
                    <br/>
                    48 Rue la Bruyère
                    <br/>
                    75009
                    <br/>
                    Paris
                    <br/>
                    France
                    <br/>
                    office@spotify.com
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <b>Spotify Italy S.r.l.</b> 
                    <br/>
                    Via Joe Colombo 4
                    <br/>
                    20124 Milano
                    <br/>
                    Italy
                    <br/>
                    office@spotify.com
                    <br/>
                    <br/>
                    <b>Spotify AB</b> 
                    <br/>
                    Regeringsgatan 19
                    <br/>
                    SE-111 53 Stockholm
                    <br/>
                    Sweden
                    <br/>
                    Reg no: 556703-7485
                    <br/>
                    office@spotify.com
                    <br/>
                    <br/>
                    <b>Spotify Mexico</b> 
                    <br/>
                    Pedregal 24 Torre Virreyes Piso 
                    <br/>
                    Col. Molino del Rey
                    <br/>
                    DF 11040
                    <br/>
                    Mexico
                    <br/>
                    office@spotify.com
                    <br/>
                    <br/>
                </div>
                <div class="col-6">
                    <b>Spotify GmbH</b> 
                    <br/>
                    Unter den Linden 10
                    <br/>
                    10117 Berlin
                    <br/>
                    Germany
                    <br/>
                    office@spotify.com
                    <br/>
                    <br/>
                    <br/>
                    <b>Spotify Denmark ApS</b> 
                    <br/>
                    Vestergade 27, 1 th
                    <br/>
                    1456 København K
                    <br/>
                    Denmark
                    <br/>
                    office@spotify.com
                    <br/>
                    <br/>
                    <b>Spotify Finland Oy</b> 
                    <br/>
                    Merimiehenkatu 36 D
                    <br/>
                    FI-00150 Helsinki
                    <br/>
                    Finland
                    <br/>
                    office@spotify.com
                    <br/>
                    <br/>
                    <b>Spotify India LLP</b> 
                    <br/>
                    Regus, North F/A-4,
                    <br/>
                    Floor 1st,A Block,
                    <br/>
                    Shivsagar Estate, Dr Annie Besant Road,
                    <br/>
                    Worli, Mumbai Mumbai City,
                    <br/>
                    MH 400018 INDIA
                    <br/>
                    office@spotify.com
                    <br/>
                    <br/>
                    <br/>
                    <b>Spotify Netherlands</b> 
                    <br/>
                    Singel 540 3h
                    <br/>
                    1017AZ, Amsterdam
                    <br/>
                    Netherlands
                    <br/>
                    office@spotify.com
                    <br/>
                    <br/>
                    <b>Spotify Ltd</b>
                    <br/>
                    Adelphi Building
                    <br/>
                    4 Savoy Place
                    <br/>
                    London WC2N 6AT
                    <br/>
                    United Kingdom
                    <br/>
                    office@spotify.com
                    <br/>
                    <br/>
                    <b>Spotify Israel</b>
                    <br/>
                    office@spotify.com
                </div>

            </div>
        </div>
    </div>
</div>