<div class="container mt-5 ms-4">
    <h1><b>Account overview</b></h1>
    <br/>
    <h4><b>Profile</b></h4>
    <br/>
    <div class="row">
        <div class="col-6 text-secondary">Username</div>
        <div class="col-6" id="username"></div>
        <div class="col-11">
            <hr/>
        </div>
        <div class="col-6 text-secondary">Email</div>
        <div class="col-6" id="email"></div>
        <div class="col-11 ">
            <hr/>
        </div>
        <div class="col-6 text-secondary">Date of birth</div>
        <div class="col-6" id="birthdate"></div>
        <div class="col-11 ">
            <hr/>
        </div>
        <div class="col-6 text-secondary">Country or region</div>
        <div class="col-6" id="country"></div>
        <div class="col-11 ">
            <hr/>
        </div>
        <div class="col-2 mt-3">
            <a href="#" class="btn btn-outline-dark border-dark-btn">
                <b>Edit profile </b> 
            </a>
        </div>
    </div>

    <div class="mt-5 me-5 mb-4">
        <h4 class="mb-3"><b>Your plan</b></h4>
        <div id="plan">
            
        </div>
        
    </div>
</div>
<script type="module" src="~/js/account/pages/overview.js"></script>
<script src="~/js/cards/plan-card.js"></script>