<link rel="stylesheet" href="~/css/play-button.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/song.css" asp-append-version="true"/>
<div class="content-spacing">
    <div class="search-header">
        <div>&nbsp;</div>
        <div class="search-info">
            <div class="search-name">Search!</div>
        </div>
    </div>
    <div class="search-result">
        <div class="empty-result">
            <h1>Nothing was found ;(</h1>
        </div>
        <h1 class="header-search-playlists loading">Playlists</h1>
        <div class="search-playlists result"></div>

        <h1 class="header-search-songs loading">Songs</h1>
        <div class="search-songs result mt-4"></div>
        <h1 class="header-search-artists loading">Artists</h1>
        <div class="search-artists result"></div>
        <h1 class="header-search-users loading">Users</h1>
        <div class="search-users result"></div>
    </div>
    <div class="genres-body">
        <div class="genres-releases">
            <div class="content-header">
                <p class="content-type">All genres</p>
            </div>
            <div class="grid-container">
                <div class="grid-item">
                    <p class="genre-name">Dance / Electro</p>
                    <div class="genre-picture1"></div>
                    <img src="https://picsum.photos/id/34/150" alt="" class="genre-picture1"/>
                </div>
                <div class="grid-item" style="background-color: #314248">
                    <p class="genre-name">Dance / Electro</p>
                    <div class="genre-picture1"></div>
                    <img src="https://picsum.photos/id/38/150" alt="" class="genre-picture1"/>
                </div>
                <div class="grid-item" style="background-color: rgba(242,208,199,0.65)">
                    <p class="genre-name">Dance / Electro</p>
                    <div class="genre-picture1"></div>
                    <img src="https://picsum.photos/id/239/150" alt="" class="genre-picture1"/>
                </div>
                <div class="grid-item" style="background-color: rgba(207,241,215,0.8)">
                    <p class="genre-name">Dance / Electro</p>
                    <div class="genre-picture1"></div>
                    <img src="https://picsum.photos/id/23/150" alt="" class="genre-picture1"/>
                </div>
                <div class="grid-item" style="background-color: #442c21">
                    <p class="genre-name">Dance / Electro</p>
                    <div class="genre-picture1"></div>
                    <img src="https://picsum.photos/id/7/150" alt="" class="genre-picture1"/>
                </div>
                <div class="grid-item" style="background-color: #9b7057">
                    <p class="genre-name">Dance / Electro</p>
                    <div class="genre-picture1"></div>
                    <img src="https://picsum.photos/id/1/150" alt="" class="genre-picture1"/>
                </div>
                <div class="grid-item" style="background-color: rgb(84,81,89)">
                    <p class="genre-name">Dance / Electro</p>
                    <div class="genre-picture1"></div>
                    <img src="https://picsum.photos/id/26/150" alt="" class="genre-picture1"/>
                </div>
                <div class="grid-item" style="background-color: rgba(98,154,181,0.85)">
                    <p class="genre-name">Dance / Electro</p>
                    <div class="genre-picture1"></div>
                    <img src="https://picsum.photos/id/33/150" alt="" class="genre-picture1"/>
                </div>
            </div>
        </div>
    </div>
</div>
