<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container">
        <a href="#" class="ms-0">
        <img width="180" height="60" class="form-logo" src="~/img/spotify-white-logo.svg"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
               aria-controls="navbarContent" aria-expanded="false">
            <span class="navbar-toggler-icon">
            </span>
        </button>
        <div class="collapse navbar-collapse " id="navbarContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item ms-4 mt-2">
                    <a href="#" class="navbar-link"><b>Premium</b></a>
                </li>
                <li class="nav-item ms-4 mt-2">
                    <a href="#" class="navbar-link"><b>Support</b></a>
                </li>
                <li class="nav-item ms-4 mt-2">
                    <a href="#" class="navbar-link "><b>Download</b></a>
                </li>
                <li class="nav-item navbar-divider ms-4">
                </li>
                <li class="nav-item dropdown ms-4 mt-1">
                    <a href="#" class="navbar-link dropdown-toggle" id="dropdown03" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg width="36" height="36" viewBox="0 0 16 16" class="bi bi-person-circle me-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                            <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
                        </svg>
                        <span>
                            <b>Profile</b> 
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown03">
                        <a href="/Account/Overview" class="dropdown-link dropdown-item"><b>Account</b></a>
                        <a href="#" class="dropdown-link dropdown-item"><b>Log out</b></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
