<div class="container mt-5 ms-4">
    <h1><b>Change your password</b></h1>
    <div class="form">
        <form id="change-password">
            <div class="form-field">
                <label for="password">Current password</label><br/>
                <input type="password" placeholder="current password" required id="password" />
            </div>
            <div style="color: red;" id="result"></div>
            <div class="form-field">
                <label for="new-password">New password</label><br/>
                <input type="password" placeholder="new password" required minlength="6" id="new-password"/>
            </div>
            <div class="form-field">
                <label for="new-password-confirm">Repeat new password</label><br/>
                <input type="password" placeholder="repeat" required minlength="6" id="new-password-confirm"/>
            </div>
            <hr style="width: 70%; margin-top: 3%"/>
                        
            <div class="flex-lg-row">
                <button type="submit" class="form-button" id="sendButton">SET NEW PASSWORD</button>
                <button type="reset" class="cancel-form-button" id="reset">
                    <div class="spotify-form-text">X</div>
                </button>
            </div>
        </form>
    </div>
    <br/>
</div>
<script>
let password = document.getElementById("new-password")
  , confirm_password = document.getElementById("new-password-confirm");

function validatePassword(){
  if(password.value !== confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}
password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>
<script type="module" src="~/js/account/pages/change-password.js"></script>
