<!DOCTYPE html>

<div class="plan-page mt-5 ms-5 mb-5">
    <div class="your-plan-header">
        <h4 class="mb-3"><b>Your plan</b></h4>
        <div class="ms-3 me-3" id="plan">
        </div>
    </div>
    <div class="available-plan-header mt-5 mb-2">
        <h4 class="mb-3"><b>Available plans</b></h4>
    </div>
<div class="available-plan-slider">
    <div id="plans">
    </div>
</div>
</div>
<script type="module" src="~/js/account/pages/avalible-plans.js"></script>
<script src="~/js/cards/plan-card.js"></script>